<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>src/CacheHandler.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/coverage/html"/>
        <log type="coverage-text" target="build/coverage/coverage.txt"/>
        <log type="coverage-clover" target="build/coverage/coverage.xml"/>
    </logging>
</phpunit>
